<h1>Welcome to garage.io</h1>

<p>We're really happy to have you!</p>

<p>Want to see your profile? Follow the link: <%= link_to "Profile", @url %></p>

<p>Love you! Thanks!!!</p>

<p>The Garage Team</p>