<h1>Welcome, <%= @user.name %></h1>

<p>We're really excited to have you join us at garage.io, THE digital garage.</p>

<p>You can login to your account here: <%= link_to "Login to garage.io", @url %></p>

<p>Thanks for joining! If you need any help, let us know.</p>