<h1>Your Cars</h1>

<a href="/cars/new" class='btn btn-primary'>New Car</a>

<ul class='list-group'>
<% @cars.each do |car| %>
  <li class='list-group-item'>
    <%= car.year %> <%= car.make %> <%= car.car_model %>
    <%= link_to "", "/cars/#{car.id}", method: :delete, class: "pull-right glyphicon glyphicon-fire" %>
  </li>
<% end %>
</ul>